:root {
    --primary-color: #40484e;
    --primary-white-color: #fff;
    --red-background-color: #a21806;
    --primary-green-color: #5fc1b8;
    --brown-background-color: #d4845b;
    --orange-background-color: #c66f2a;
    --spacing: 2px;
    --primary-size: 14px;
}
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER - TOP */
.header-top {
    background-color: var(--primary-color);
}

.header-top-container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header-top-left,
.header-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top-left > a,
.header-top-right > a {
    color: var(--primary-white-color);
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.header-top-left > a:hover,
.header-top-right > a:hover {
    color: teal;
}

.header-top-right > a:last-child {
    color: #ffb500;
}

/* HEADER - CENTER */

.header-container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.input {
    position: relative;
    width: 250px;
}

.input > input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 1px var(--primary-color);
    padding-left: 10px;
    padding-bottom: 5px;
}

.input > svg {
    position: absolute;
    right: 0;
    font-size: 22px;
}

.header-center-list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-center-list > li > a {
    font-size: 13px;
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.3s ease;
}

.header-center-list:nth-child(1) > li > a > img {
    width: 30px;
}

.header-bottom-list {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.header-bottom-list > li {
    text-align: center;
}

.header-bottom-list > li > a {
    font-size: 12px;
    display: flex;
    color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.header-bottom-list > li > a > img {
    width: 20px;
}

.banner {
    width: 100%;
    margin-top: 5px;
}

/* hero - css */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--primary-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    background-color: #f5f5f5 !important;
    color: gray;
    padding: 10px;
    font-size: 1.5rem;
}

.hero .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    background-color: #f5f5f5 !important;
    color: gray;
    padding: 10px;
    font-size: 1.5rem;
}

.hero .swiper-pagination-bullet-active {
    background-color: var(--primary-white-color);
}

/* section - main */
section {
    padding: 50px 0;
}

.title {
    display: flex;
    justify-content: center;
}
.title > span {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    color: var(--primary-color);
}

.title > span::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.title > span:hover::after {
    width: 100%;
}

/* stock - section - css */

.flash-card {
    color: var(--primary-white-color);
    position: relative;
    margin-bottom: 10px;
}

.img-field {
    width: 100%;
}

.price {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: var(--red-background-color);
    color: var(--primary-white-color);
    padding: 10px;
    border-bottom-right-radius: 10px;
}

/* collection - section - css */

.discount {
    margin: 10px 0;
    letter-spacing: var(--spacing);
    font-size: var(--primary-size);
}

.link {
    color: var(--primary-green-color);
    letter-spacing: var(--spacing);
    font-size: var(--primary-size);
}

.office-card {
    position: relative;
}

.bg-brown {
    background-color: var(--brown-background-color);
}

.name {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: var(--primary-size);
    letter-spacing: var(--spacing);
    color: var(--primary-white-color);
    font-weight: bold;
}

/* school - section - css */

.school-card {
    position: relative;
}

.bg-orange {
    background-color: var(--orange-background-color);
}

/* limited - section - css */

.limited-card {
    margin-bottom: 10px;
}

/* picks - section - css */

.picks-card {
    width: 100%;
    position: relative;
}

.picks-card .pickProductSwiper {
    width: 100%;
}

.picks-card .swiper {
    width: 100%;
    height: 100%;
}

.picks-card .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picks-card .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picks-card .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    background-color: #f5f5f5 !important;
    color: gray;
    padding: 10px;
    font-size: 1.5rem;
}

.picks-card .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    background-color: #f5f5f5 !important;
    color: gray;
    padding: 10px;
    font-size: 1.5rem;
}

.discountImage {
    position: absolute;
    width: 60px !important;
    right: 10px;
    top: 10px;
    height: 60px !important;
}

.pickCardWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.pick-card-name {
    font-size: var(--primary-size);
    letter-spacing: var(--spacing);
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0;
}

.picks-card-price {
    font-size: var(--primary-size);
    letter-spacing: var(--spacing);
    color: var(--primary-color);
    font-weight: bold;
}
